p{
    color: red;
    letter-spacing: 1px;
    font-size: 15px;
}
span{
    letter-spacing: 1px;
}
#mobilenet{
    letter-spacing: 2px;
}
.bottom{
    color: red;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: 'Roboto Slab', serif;
}
.img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    border-radius: 10px;
}
b{
    color: purple;
}
.first,.second{
    background-color: white;
    border-radius: 10px;
    line-height: 2;
}
.test_image_and_result1,.test_image_and_result2,.test_image_and_result3,.test_image_and_result4,.test_image_and_result5,.test_image_and_result6,.test_image_and_result7,.test_image_and_result8,.test_image_and_result9{
    margin-top: 15px;
    background-color: rgb(255, 86, 86);
    border-radius: 10px;
    box-shadow: 1px 1px 25px rgb(102, 199, 255);
    width:99%;
    margin-bottom: 15px;
}
.white1,.white2,.white3,.white4,.white5,.white6,.white7,.white8,.white9{
    color: white;
}
span{
    color: red;
}
.google_lens{
    color: black;
}
h4{
    color: white;
    font-weight: bold;
}